@charset "UTF-8";
@namespace epub "http://www.idpf.org/2007/ops";

b,
strong{
	font-weight: normal;
	font-variant: small-caps;
}

[epub|type~="z3998:song"] p,
[epub|type~="z3998:verse"] p{
	text-align: left;
	text-indent: 0;
}

[epub|type~="z3998:verse"] p span{
	display: block;
	text-indent: -1em;
	padding-left: 1em;
}

[epub|type~="z3998:verse"] br{
	display: none;
}

span[epub|type~="subtitle"]{
	display: block;
	font-weight: normal;
}

footer{
	margin-top: 1em;
	text-align: right;
	font-style: italic;
}

i em{
	font-style: normal;
}

h4 + p,
header p,
header + p{
	text-indent: 0;
}

header{
	margin-top: 1em;
	margin-bottom: 1em;
}
